.list {
  list-style: none;
  display: flex;
  flex-flow: column;
  margin: 32px auto;
  padding: 0;
  width: 100vh;
  gap: 15px;
}

.article-li {
  background-color: #fff;
  border-radius: 4px;
  padding: 15px 20px;
  box-shadow: #00000038 0 0px 10px 0px;
}

.indicator-wrapper {
  margin: 0 auto;
  width: 250px;
  text-align: center;
  display: flex;
  gap: 10px;
}