.like {
  margin-left: 13px;
  display: flex;
  flex-flow: nowrap;
  align-items: center;
}

.likeBtn {
  padding: 3px;
  margin: 0;
  background-color: transparent;
  border: none;
  margin-right: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;

  &:focus {
    outline: none;

    .likePic {
      stroke: black;
    }
  }
}

.likePic {
  width: 16px;
  height: 15px;
  fill: #FF0707;
}

.likeCount {
  font-size: 12px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.75);
}